.navbar {
    background-color: rgb(144, 215, 236);
    color: grey;
}

.dayx {
    background-color: lightgray;
    margin: 12px;
}

.slidex {

    background-color: lightgrey;
    padding: 5% 5%;
}

.footer {
    background-color: rgb(144, 215, 236);
}

.slidebtn {
    margin-left: 10px;
}