.navbar {
    background-color: rgb(144, 215, 236);
    color: grey;
}

.dayx {
    background-color: rgb(228, 236, 229);
    margin: 12px;
}

.slidex {

    background-color: rgb(211, 219, 221);
    padding: 5% 5%;
    margin-bottom: 2em;
}

.footer {
    background-color: rgb(144, 215, 236);
}

.slidebtn {
    margin-left: 10px;
}

.code {
    background-color: black;
    color: lightgray;
    padding: 10px, 10px;
    margin-top: 1em;
}

.done {
    background-color: lightgray !important;
    font-style: italic;
    color: darkolivegreen;
}

code {
    background-color: black !important;
    color: lightgray !important;
    padding: 0.3em !important;
    
}




h1 {
    margin-top: 2em;
}

h2 {
    margin-top: 1.5em;
}

h3 {
    margin-top: 1.5em;
}

h4 {
    margin-top: 1em;
}

img {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

ol {
    margin-top: 20px;
    margin-left: 20px;
}

strong {
    color: #34495e;
}